*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Arial",sans-serif;
	letter-spacing: 0em;
	font-size: 17px;
	font-weight: 400;
	color: #333;
}
body, input, textarea, select, button{
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	direction: ltr;
	text-align: left;
}
.adv-wrapper{
	width: 100%;
	height: 40px;
	z-index: 9999;
	background: #444;
	line-height: 1;
}
.adv-wrapper .adv-wrapper-text{
	width: 976px;
	height: 40px;
	color: #a8a8aa;
	font-size: 12px;
	display: block;
	line-height: 40px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	text-align: right;
	margin: 0 auto;
}
#ac-globalnav{
	background-color: #0a0a0a;
	right: 0;
	left: 0;
	z-index: 9999;
	display: block;
	margin: 0;
	width: 100%;
	height: 44px;
	font-size: 17px;
	-moz-user-select: none;
}
.ac-gn-content{
	width: 980px;
	height: 44px;
	margin: 0 auto;
	padding: 0 22px;
	position: relative;
	z-index: 2;
}
#ac-globalnav .ac-gn-list{
	width: 1000px;
	height: 44px;
	cursor: default;
	margin: 0 -10px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-moz-user-select: none;
}
#ac-globalnav .ac-gn-item{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	height: 44px;
	z-index: 1;
	vertical-align: top;
}
#ac-globalnav .ac-gn-bag{
	z-index: 2;
}
#ac-globalnav .ac-gn-link{
	font-size: 14px;
	background-repeat: no-repeat;
	line-height: 3.14286;
	font-weight: 400;
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 0 10px;
	height: 44px;
	opacity: 1;
	white-space: nowrap;
}
#ac-globalnav .ac-gn-link-apple{
	background-size: 16px 44px;
	background-repeat: no-repeat;
	background-image: url("../images/1.png");
	background-position: center center;
	width: 16px;
}
#ac-globalnav .ac-gn-list span{
	color: #fff;
}
.chapternav{
	display: block;
	background: #f2f2f2;
	overflow: hidden;
	padding: 0;
	padding-bottom: 12px;
	padding-top: 12px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 92px;
	z-index: 9987;
}
.chapternav-wrapper{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 1;
	text-align: center;
}
.chapternav-items{
	width: 100%;
	height: 75px;
	padding-bottom: 49px;
	list-style: none;
	overflow: hidden;
	white-space: nowrap;
}
.chapternav-item{
	display: inline-block;
	vertical-align: top;
	margin: 0 -.11765em;
	padding: 0 20px;


}
.chapternav-item:first-child{
	margin-left: 0;
	padding-left: 4px;
	padding-right: 20px;
}
.chapternav-item:last-child{
	margin-right: 0;
	padding-right: 4px;
}
.chapternav-link{
	color: #111;
	display: block;
	margin-top: 3px;
	padding: 0;
	position: relative;
	z-index: 1;
}
.chapternav-icon{
	background: center bottom no-repeat;
	display: block;
	margin: 0 auto 6px;
	height: 54px;
}
.chapternav-item-iphone-xs .chapternav-icon{
	background-size: 35px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/a.png");
	width: 35px;
}
.chapternav-item-iphone-xr .chapternav-icon{
	background-size: 21px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/b.png");
	width: 21px;
}
.chapternav-item-iphone-8 .chapternav-icon{
	background-size: 37px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/c.png");
	width: 37px;
}
.chapternav-item-iphone-7 .chapternav-icon{
	background-size: 37px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/c.png");
	width: 37px;
}
.chapternav-item-ios .chapternav-icon{
	background-size: 32px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/d.png");
	width: 32px;
}
.chapternav-item-airpods .chapternav-icon{
	background-size: 23px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/e.png");
	width: 23px;
}
.chapternav-item-accessories .chapternav-icon{
	background-size: 31px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/f.png");
	width: 31px;
}
.chapternav-item-compare .chapternav-icon{
	background-size: 50px 54px;
	background-repeat: no-repeat;
	background-image: url("../images/g.png");
	width: 50px;
}
.chapternav-label{
	font-size: 11px;
	line-height: 1.09091;
	font-weight: 400;
	display: block;
	margin: 0;
}
.small-caps{
	font-variant-caps: all-small-caps;
	font-style: normal;
}
.chapternav-new{
	font-size: 9px;
	line-height: 1.22226;
	font-weight: 400;
	color: #ef5602;
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;	
}
.main .di1{
	width: 100%;
	height: 10px;
	background-color: #fff;
}
.section-giveback{
	font-size: 21px;
	line-height: 1.19048;
	font-weight: 400;
	letter-spacing: .011em;
	padding-top: 54px;
	padding-bottom: 53px;
	border-top: 10px solid #fafafa;
	background-color: #f2f2f2;
}
.promo-section{
	text-align: center;
	padding-top: 140px;
}
.section{
	overflow: hidden;
}
.section-content{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.row{
	position: relative;
	z-index: 1;
}
.row-logical{
	width: 980px;
	height: 192px;
	padding: 0;
	margin: 0;
}
.violator{
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	border: 1px solid #ef5602;
	border-radius: 4px;
	display: inline-block;
	padding: 4px 15px;
	white-space: nowrap;
	text-align: center;
}
.violator-secondary{
	margin-bottom: 20px;
	border-color: #888;
	color: #666;
}
.typography-eyebrow-super{
	margin-bottom: 9px;
	padding-left: 0.4em;
	color: #333;
	display: block;
	font-size: 32px;
	line-height: 1.125;
	font-weight: 600;
	letter-spacing: .004em;
}
.giveback-intro{
	font-size: 21px;
	line-height: 1.19048;
	font-weight: 400;
	letter-spacing: .011em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 8px;
	max-width: 22em;
	padding-left: 0.4em;
}
.links-stacked{
	margin-top: 15px;
	list-style: none;
}
.links-stacked li{
	margin: 0 .5em;
	display: inline-block;
}
a{
	color: #0070c9;
}
.iphone-hero-products-group{
	width: 100%;
	height: 1840.62px;
	background: #fff;
	padding-top: 77px;
	width: 100%;
}
[class*="typography-eyebrow"]{
	color: #333;
	display: block;
	margin-bottom: .4em;
}
.iphone-hero-eyebrow{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 90%;
}
.typography-eyebrow{
	font-size: 24px;
	line-height: 1.16667;
	font-weight: 600;
	letter-spacing: .009em;
}
.typography-promo-headline{
	font-size: 48px;
	line-height: 1.08365;
	font-weight: 600;
	text-align: center;
}
.section-iphone-xr{
	margin-top: 89px;
	width: 100%;
	height: 936px;
}
.hero-section{
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
}
.section-content{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.section-iphone-xr .hero-content{
	text-align: center;
	z-index: 2;
	margin-top: 86px;
	transform: translateX(29px);
}
.large-4{
	width: 33.33333%;
}
.column{
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	min-height: 2px;
	z-index: 1;
}
.section-iphone-xr .hero-eyebrow{
	width: 153px;
	height: 24px;
	background-size: 153px 24px;
	background-repeat: no-repeat;
	background-image: url("../images/10.png");
	position: relative;
	left: 50%;
	margin-left: -76.5px;
	margin-bottom: 11.2px;
}
.hero-section .hero-headline{
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
}
.typography-hero-headline{
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
	letter-spacing: 0em;
}
.large-show{
	display: block;
}
.section-iphone-xr .hero-copy{
	max-width: 12em;
}
.hero-section .hero-copy{
	margin-top: 16px;
	min-width: 16em;
	margin-right: auto;
	margin-left: auto;
}
.hero-section .hero-links{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 27px;
}
.large-8{
	width: 66.66667%;
}
.section-iphone-xr .image-hero-iphone-xr{
	background-image: url("../images/11.jpg");
	width: 679px;
	height: 936px;
	background-size: 679px 936px;
	position: relative;
	left: -20px;
}
.section-iphone-xs{
	margin-top: 90px;
}
.section-iphone-xs .hero-content{
	text-align: center;
	z-index: 2;
	margin-top: 108px;
	transform: translateX(-54px);
	/*margin-right: -490px;*/
}
.large-push-6{
	left: 50%;
	right: auto;
}
.large-6{
	width: 50%;
}
.section-iphone-xs .hero-eyebrow{
	width: 151px;
	height: 24px;
	background-size: 151px 24px;
	background-image: url("../images/12.png");
	position: relative;
	left: 50%;
	margin-left: -75.5px;
}
.typography-eyebrow-elevated{
	font-size: 28px;
	line-height: 1.14286;
	font-weight: 600;
	letter-spacing: .007em;
}
.hero-section .hero-headline{
	margin-top: 14px;
}
.hero-section .hero-headline, .page-overview .hero-section .hero-copy{
	margin-right: auto;
	margin-left: auto;
}
.typography-hero-headline{
	font-size: 40px;
	line-height: 1.1;
	font-weight: 600;
}
.nowrap{
	display: inline-block;
	text-decoration: inherit;
	white-space: nowrap;
}
.section-iphone-xs .hero-copy{
	max-width: 12em;
}
.large-pull-6{
	right: 50%;
	left: auto;
}
.section-iphone-xs .image-hero-iphone-xs{
	width: 421px;
	height: 636px;
	background-size: 421px 636px;
	background-image: url("../images/13.jpg");
	position: relative;
	left: 99px;
}
.section-hero-promos{
	padding-top: 0;
	width: 100%;
	background-color: #f2f2f2;
}
.promo-section{
	text-align: center;
}
.section-hero-promos .promo-container{
	margin-top: 0;
}
.section-content-oversized{
	width: auto;
	max-width: 1440px;
}
.promo-section .banner-container{
	margin: 0 auto;
	max-width: 1440px;
}
.promo-section .banner-promo.inline-end{
	flex-direction: row-reverse;
}
.promo-section .banner-promo{
	background-color: #fff;
	display: flex;
	height: 500px;
	margin: 2.08333%;
}
.promo-section .banner-promo .promo-copy{
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	padding-right: 6.42857%;
	padding-left: 6.42857%;
	display: flex;
}
.large-centered{
	margin-right: auto;
	margin-left: auto;
	float: none;
}
.promo-section .banner-promo .promo-copy-wrapper{
	position: relative;
	display: block;
	width: 100%;
}
.typography-promo-headline{
	font-size: 48px;
	line-height: 1.08365;
	font-weight: 600;
}
.promo-section .promo-copy p{
	font-size: 21px;
	line-height: 1.38105;
	font-weight: 400;
	letter-spacing: .011em;
	margin-top: 16.8px;
}
.icon-wrapper .icon{
	display: inline;
}
.section-hero-promos .banner-promo.compare .promo-image{
	background-size: 486px 425px;
	background-image: url("../images/14.jpg");
	background-position: bottom right;
	background-repeat: no-repeat;
}
.promo-section .banner-promo .promo-image{
	height: 100%;
	width: calc(50% - 1.07143%);
}
.section-hero-promos .fp-tilegrid{
	margin-top: 0;
}
.fp-tilegrid-2{
	max-width: 1440px;
}
.fp-tilegrid{
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.section-hero-promos .fp-tile.iphone-upgrade{
	padding-bottom: 296px;
}
.promo-section .promo-tile{
	position: relative;
}
.fp-tile-2:nth-child(2n+1){
	margin-left: 2.08333%;
	margin-right: 1.04167%;
}
.fp-tile-2{
	margin-bottom: 30px;
	padding-left: 4.16667%;
	padding-right: 4.16667%;
	width: 38.54167%;
}
.fp-tile{
	background-color: #fff;
	overflow: hidden;
}
.promo-section .promo-tile .promo-copy{
	padding-top: 60px;
}
.large-9{
	width: 75%;
}
.typography-promo-headline{
	/*height: 104.033px;*/
	font-size: 40px;
	line-height: 1.08365;
	font-weight: 600;
}
.typography-promo-headline{
	letter-spacing: 0em;
}
h1, h2, h3, h4, h5, h6{
	color: #111;
	margin: 0;
	padding: 0;
}
.footnote{
	vertical-align: inherit;
	color: inherit;
}
sup{
	font-size: .6em;
	vertical-align: top;
	position: relative;
	bottom: -.2em;
}
.section-hero-promos .fp-tile.iphone-upgrade .promo-image{
	width: 675px;
	height: 256px;
	background-size: 675px 256px;
	background-repeat: no-repeat;
	background-image: url("../images/15.jpg");
	left: 50%;
	margin-left: -337.5px;
	position: absolute;
	bottom: 0;
}
.promo-section .promo-copy p, .promo-section .promo-copy .links-inline, .promo-section .promo-copy .links-stacked{
	font-size: 18px;
	line-height: 1.38105;
	font-weight: 400;
	letter-spacing: .011em;
}
.section-hero-promos .fp-tile.apple-giveback{
	padding-bottom: 316px;
}
.promo-section .promo-tile{
	position: relative;
}
.fp-tile-2:nth-child(2n){
	margin-left: 1.04167%;
	margin-right: 2.08333%;
}
.promo-section .promo-tile .promo-copy{
	padding-top: 60px;
}
.large-10{
	width: 83.33333%;
}
.section-hero-promos .fp-tile.apple-giveback .promo-image{
	width: 300px;
	height: 276px;
	background-size: 300px 276px;
	background-repeat: no-repeat;
	background-image: url("../images/16.jpg");
	left: 50%;
	margin-left: -150px;
	position: absolute;
	bottom: 0;
}
.promo-section .banner-container{
	margin: 0 auto;
	max-width: 1440px;
}
.section-hero-promos .banner-promo.ios-13{
	background-image: url("../images/17.jpg");
	max-height: 500px;
	margin-top: 0;
	background-size: 1380px 500px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: bottom;
}
.section-hero-promos .banner-promo.ios-13 .promo-copy-wrapper{
	height: 135.017px;
	margin-left: 40px;
	margin-top: 176px;
	text-align: left;
}
.section-hero-promos .banner-promo.ios-13 h3{
	text-align: left;
	font-size: 48px;
	margin-bottom: 3px;
	color: #fff;
}
.section-hero-promos .banner-promo.ios-13 p{
	font-size: 21px;
	color: #fff;
	margin-top: 0;
}
.section-hero-promos .banner-promo.ios-13 p:first-of-type{
	max-width: 260px;
	margin-bottom: 22px;
}
.section-hero-promos .banner-promo.ios-13 a:link{
	color: #6bf;
}
.promo-section .banner-promo .promo-image{
	height: 100%;
	width: calc(50% - 1.07143%);
}
.section-buystrip{
	width: 100%;
	height: 206.933px;
	padding-top: 52px;
	background-color: #f2f2f2;
	text-align: center;
}
.section-content-oversized{
	width: auto;
	max-width: 1440px;
}
.large-12{
	width: 100%;
}
.section-buystrip .fp-tile{
	height: auto;
	overflow: visible;
	background: #f2f2f2;
}
.section-buystrip .image-icon-financing{
	width: 40px;
	height: 44px;
	background-size: 40px 44px;
	background-repeat: no-repeat;
	background-image: url("../images/18.png");
	position: relative;
	left: 50%;
	margin-left: -20px;
}
.section-buystrip .image-icon{
	margin-bottom: .70588em;
}
.section-buystrip .buystrip-headline{
	font-weight: 600;
	font-size: 21px;
}
.section-buystrip .typography-buystrip-copy{
	max-width: 350px;
	height: 58px;
	margin-top: 5px;
}
.section-buystrip h2 + *{
	margin-top: 0;
}
.section-buystrip p + *{
	margin-top: .23529em;
}
.section-buystrip .image-icon-delivery{
	width: 40px;
	height: 44px;
	background-size: 40px 44px;
	background-repeat: no-repeat;
	background-image: url("../images/19.png");
	position: relative;
	left: 50%;
	margin-left: -20px;
}
.section-iphone-essentials{
	width: 100%;
	background-color: #f2f2f2;
}
.typography-section-headline{
	font-size: 56px;
	line-height: 1.07143;
	font-weight: 600;
}
.promo-section .promo-container{
	margin-top: 90px;
}
.section-content-oversized{
	width: auto;
	max-width: 1440px;
}
.section-iphone-essentials .promo-tile.airpods.tilt{
	padding-bottom: 374px;
}
.section-iphone-essentials .promo-tile.accessories{
	padding-bottom: 371px;
}
.large-7{
	width: 58.33333%;
}
.promo-section .promo-tile p + .links-stacked{
	margin-top: 0.8em;
}
.section-iphone-essentials .promo-tile.airpods.tilt .promo-image{
	margin-left: -280px;
	width: 617px;
	height: 334px;
	background-size: 617px 334px;
	background-repeat: no-repeat;
	background-image: url("../images/20.jpg");
	left: 50%;
	position: absolute;
	bottom: 0;
}
.section-iphone-essentials .promo-tile.accessories.three .promo-image{
	width: 459px;
	height: 331px;
	background-size: 459px 331px;
	background-repeat: no-repeat;
	background-image: url("../images/21.jpg");
	left: 50%;
	margin-left: -229.5px;
	position: absolute;
	bottom: 0;
}
p + *, ul + *, ol + *{
	margin-top: .8em;
}
.section-why-iphone{
	background-color: #f2f2f2;
}
.section-why-iphone .promo-tile.ios12{
	padding-bottom: 429px;
}
.section-why-iphone .promo-tile.ios12 .promo-image{
	width: 689px;
	height: 417px;
	background-size: 689px 417px;
	background-repeat: no-repeat;
	background-image: url("../images/22.jpg");
	left: 50%;
	margin-left: -344.5px;
	position: absolute;
	bottom: 0;
}
.section-why-iphone .promo-tile.privacy-video{
	background-size: 675px 750px;
	background-repeat: no-repeat;
	background-image: url("../images/23.jpg");
	background-position-x: center;
	background-position-y: bottom;
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6{
	color: #fff;
}
.theme-dark a{
	color: #6bf;
}
.promo-section .promo-tile .promo-copy .second-link-top-margin{
	margin-top: 0.4em;
}
.section-why-iphone .promo-tile.augmented-reality{
	background-size: 675px 750px;
	background-repeat: no-repeat;
	background-image: url("../images/24.jpg");
	background-position-x: center;
	background-position-y: bottom;	
}
.section-why-iphone .promo-tile.augmented-reality .promo-copy{
	padding-bottom: 380px;
}
.section-why-iphone .promo-tile.icloud{
	padding-bottom: 375px;
}
.section-why-iphone .promo-tile.icloud .promo-image{
	width: 434px;
	height: 335px;
	background-size: 434px 335px;
	background-repeat: no-repeat;
	background-image: url("../images/25.jpg");
	left: 50%;
	margin-left: -217px;
	position: absolute;
	bottom: 0;
}
.section-why-iphone .promo-tile.apple-pay{
	padding-bottom: 420px;
}
.section-why-iphone .promo-tile.apple-pay .promo-headline{
	width: 114px;
	height: 46px;
	background-size: 114px 46px;
	background-repeat: no-repeat;
	background-image: url("../images/28.png");
	position: relative;
	left: 50%;
	margin-left: -57px;
	margin-top: 6px;
}
.section-why-iphone .promo-tile.apple-pay .promo-image{
	width: 611px;
	height: 380px;
	background-size: 611px 380px;
	background-repeat: no-repeat;
	background-image: url("../images/26.jpg");
	position: absolute;
	left: 50%;
	margin-left: -305.5px;
	bottom: 0;
}
.section-why-iphone .promo-tile.why-switch{
	padding-bottom: 404px;
}
.section-why-iphone .promo-tile.why-switch .promo-image{
	width: 298px;
	height: 364px;
	background-size: 298px 364px;
	background-repeat: no-repeat;
	background-image: url("../images/27.jpg");
	position: absolute;
	left: 50%;
	margin-left: -149px;
	bottom: 0;
}
.section-get-more{
	background: #f2f2f2;
}
.section-get-more .banner-promo.apple-music{
	background: linear-gradient(to top left, #d253b1, #fb6f4a);
}
.section-get-more .banner-promo.apple-music .promo-headline{
	width: 155px;
	height: 38px;
	background-size: 155px 38px;
	background-repeat: no-repeat;
	background-image: url("../images/30.png");
	position: relative;
	left: 50%;
	margin-left: -77.5px;
	margin-top: -1px;
	padding-bottom: 7px;
}
 .section-get-more .banner-promo.apple-music p, .page-overview .section-get-more .banner-promo.apple-music a{
 	color: #fff;
}
 .section-get-more .banner-promo.apple-music .promo-image{
 	width: 554px;
	height: 384px;
	background-size: 554px 384px;
	background-repeat: no-repeat;
	background-image: url("../images/29.png");
	background-position-x: center;
	background-position-y: bottom;
}
.section-get-more .banner-promo.thats-iphone{
	background-size: 1380px 500px;
	background-repeat: no-repeat;
	background-image: url("../images/31.jpg");
	background-position: left bottom;
	height: 500px;
	position: relative;
}
.section-get-more .banner-promo.thats-iphone .promo-copy-wrapper{
	bottom: 65px;
	left: 0;
	margin-left: 155px;
	position: absolute;
	text-align: left;
}
.section-get-more .banner-promo.shot-on-iphone{
	background-size: 1380px 500px;
	background-repeat: no-repeat;
	background-image: url("../images/32.jpg");
	background-position-x: center;
	background-position-y: bottom;
}
.theme-dark{
	color: #ccc;
}
.section-get-more .banner-promo.today-at-apple-full .promo-copy-wrapper{
	margin-right: 18px;
}
.section-get-more .banner-promo.today-at-apple-full .promo-image{
	background-size: 666px 500px;
	background-repeat: no-repeat;
	background-image: url("../images/33.jpg");
	background-position-x: 9px;
	background-position-y: bottom;
}
.section-get-more .promo-tile.families{
	background-size: 675px 750px;
	background-repeat: no-repeat;
	background-image: url("../images/34.jpg");
	background-position-x: center;
	background-position-y: bottom;
}
.section-get-more .promo-tile.families .promo-copy{
	padding-bottom: 450px;
}
.section-get-more .promo-tile.business{
	background-size: 675px 750px;
	background-repeat: no-repeat;
	background-image: url("../images/35.jpg");
	background-position-x: center;
	background-position-y: bottom;
}
.section-get-more .promo-tile.business .promo-copy{
	padding-bottom: 420px;
}
#ac-globalfooter{
	font-size: 12px;
	line-height: 1.33341;
	font-weight: 400;
	background-color: #f2f2f2;
	color: #333;
	min-width: 1024px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	text-align: left;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	pointer-events: auto;
}
#ac-globalfooter *{
	font-size: 1em;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: inherit;
}
#ac-globalfooter .ac-gf-content{
	margin: 0 auto;
	max-width: 980px;
	padding: 0 22px;
}
#ac-globalfooter .ac-gf-label{
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
}
#ac-globalfooter .ac-gf-sosumi{
	border-bottom: 1px solid #d6d6d6;
	color: #888;
	padding: 17px 0 11px;
}
#ac-globalfooter .section{
	display: block;
}
#ac-globalfooter .ac-gf-sosumi ul{
	list-style: none;
	margin: 0;
}
#ac-globalfooter .ac-gf-sosumi ol{
	list-style-position: outside;
	margin: 0;
	padding: 0 17px;
}
#ac-globalfooter .ac-gf-sosumi ol li{
	list-style-type: decimal;
}
#ac-globalfooter .nowrap{
	white-space: nowrap;
}
#ac-globalfooter .ac-gf-sosumi small{
	font-size: 1em;
}
#ac-globalfooter .ac-gf-sosumi li{
	padding-bottom: 0.8em;
}
#ac-globalfooter .ac-gf-breadcrumbs{
	padding: 17px 0;
	position: relative;
	z-index: 1;
	color: #555;
}
#ac-globalfooter .ac-gf-breadcrumbs-home{
	left: 0;
	position: absolute;
	z-index: 2;
	top: 17px;
}
#ac-globalfooter .ac-gf-breadcrumbs-home-icon{
	width: 14px;
	height: 18px;
	background-size: 55px 22.4px;
	background-repeat: no-repeat;
	background-image: url("../images/28.png");
	background-position: 0 0;
	display: block;
	position: relative;
	z-index: 2;
	color: #fff;
}
#ac-globalfooter a{
	color: #555;
}
#ac-globalfooter .ac-gf-breadcrumbs-path{
	letter-spacing: 0em;
	font-size: 12px;
	line-height: 1.33341;
	font-weight: 400;
	position: relative;
	z-index: 1;
}
#ac-globalfooter .ac-gf-breadcrumbs-list{
	max-width: 9999px;
	padding-left: 25px;
	direction: ltr;
	list-style: none;
}
#ac-globalfooter .ac-gf-breadcrumbs-item{
	margin-right: 7px;
	float: left;
	padding: 3px 4px 3px 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#ac-globalfooter .ac-gf-breadcrumbs + .ac-gf-directory{
	padding-top: 0;
}
#ac-globalfooter .ac-gf-directory{
	font-size: 12px;
	line-height: 1.33341;
	font-weight: 400;
	display: flex;
	flex-wrap: nowrap;
}
#ac-globalfooter .ac-gf-directory-column{
	flex-basis: 25%;
}
#ac-globalfooter .ac-gf-directory-column-section{
	pointer-events: none;
}
#ac-globalfooter .ac-gf-directory-column-section-title{
	font-size: 12px;
	line-height: 1.33341;
	font-weight: 600;
	margin: 0;
	margin-bottom: .8em;
}
#ac-globalfooter .ac-gf-directory-column-section-list{
	margin-right: 20px;
	list-style: none;
	padding: 0;
}
#ac-globalfooter .ac-gf-directory-column-section-item{
	display: block;
	pointer-events: none;
	margin-bottom: .8em;
}
#ac-globalfooter .ac-gf-directory + .ac-gf-footer{
	padding-top: 34px;
	border-top: none;
}
#ac-globalfooter .ac-gf-footer{
	color: #888;
	padding: 17px 0 52px;
}
#ac-globalfooter .ac-gf-directory + .ac-gf-footer .ac-gf-footer-shop{
	margin-bottom: 7px;
	padding-bottom: 8px;
	border-bottom: 1px solid #d6d6d6;
}
#ac-globalfooter .ac-gf-footer-shop{
	max-height: 9999px;
}
#ac-globalfooter .ac-gf-footer-shop a{
	color: #0070c9;
}
#ac-globalfooter .ac-gf-footer-legal{
	position: relative;
	top: -3px;
	z-index: 1;
}
#ac-globalfooter .ac-gf-footer-legal-copyright{
	max-height: 9999px;
	margin-right: 30px;
	float: left;
	margin-top: 5px;
}
#ac-globalfooter .ac-gf-footer-legal-links{
	position: relative;
	top: -5px;
	z-index: 1;
	margin-right: 30px;
	float: left;
	margin-top: 5px;
}
#ac-globalfooter .ac-gf-footer-legal-link{
	border-right: 1px solid #d6d6d6;
	margin-right: 7px;
	padding-right: 10px;
	display: inline-block;
	margin-top: 5px;
	white-space: nowrap;
}
#ac-globalfooter .ac-gf-footer-legal-link:last-child{
	border: none;
	margin: 0;
	padding: 0;
}